version: 2.1

jobs:
  deploy-app:
    machine: true
    steps:
      - checkout
      - run:
          name: Build and push Docker image to Heroku
          command: |
            sudo curl https://cli-assets.heroku.com/install.sh | sh
            HEROKU_API_KEY=${HEROKU_TOKEN} heroku container:login
            HEROKU_API_KEY=${HEROKU_TOKEN} heroku container:push -a devopsdckr-3-2 web
            HEROKU_API_KEY=${HEROKU_TOKEN} heroku container:release -a devopsdckr-3-2 web

workflows:
  heroku_deploy:
    jobs:
      - deploy-app
